/* css styles */
.theorem {
    border: 0.5px solid;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 2em;
}


.proof {
    background: #feeee8;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 2em;
}

.example {
    border: 0.5px solid;
    border-radius: 1em;
    padding: 0.5em 1em 0.5em 1em;
    margin-bottom: 2em;
}

/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 16pt;
}
/* Headers */
h1,h2,h3,h4,h5,h6{
  font-size: 24pt;
}